<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= project.title %> </h1>
    <h2><%= project.description %> </h2>
    <div>
      <h2>tasks</h2>
      <ol>
      <% for (let task of project.tasks) {%> 
      <li><%= task.title %> </li>
      <% } %> 
    </div>
    <div class="task__form">
      <form action="/dashboard/<%= project._id %> " method="POST">
        <label for="task">Task</label>
        <input type="text" id="task" name="task[title]">
        <button type="submit">Add Task</button>
      </form>
    </div>
    <div>
      <a href="/dashboard/<%= project._id %>/edit"><button>Edit Project</button></a>
    </div>
    <a href="/dashboard">back home</a>
  </body>
</html>
